{% extends "layout.html" %}

{% block container %}
    <div id="content">
        <div id="board">
            <div id="left">
                <div class="title_d3">Commencez Avec 450 Crédits!</div>
                <div id="signupform">
                    <form action="" method="post">{% csrf_token %}
                        <div>
                            {{signupform.username.errors}}
                            <label>Username</label>
                            {{signupform.username}}
                        </div>
                        
                        <div>
                            {{signupform.password.errors}}
                            <label>Password</label>
                            {{signupform.password}}
                        </div>
                        
                        <div>
                            {{signupform.email.errors}}
                            <label>Email</label>
                            {{signupform.email}}
                        </div>
                        
                        <div>
                            <label>Sexe</label>
                            {{signupform.sexe}}
                        </div>
                        
                        <div>
                            <label> </label>
                            <input value="S'inscrire" type="submit"/>
                        </div>
                        
                    </form>
                </div>
                
            </div>
            <div id="right">
                <div id="menu">
                    <ul>
                        <li><a href="/">Accueille</a></li>
                        {% if user.is_authenticated %}
                        <li><a href="/home">Bienvenu {{user.username}}</a></li>
                        <li><a href="/logout">Déconnexion</a></li>
                        {% else %}
                        <li><a href="/login">Connexion</a></li>
                        {% endif %}
                    </ul>
                </div>            
            </div>
        </div>
    </div>
{% endblock %}